body,html{
    height: 100%;
    width: 100%;
}
.bgcolor {
    background-color: #c8e5e8;
}
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 600;
    font-style: normal;
  }