body,html{
    height: 100%;
    width: 100%;
}
.bgcolor {
    background-color: #c8e5e8;
}
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 600;
    font-style: normal;
  }
  .open-sans-ragular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .background {
    height: 100vh; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  .card-title { 
    text-align: center; 
    font-family: "Open Sans", sans-serif;
  }
  .card-text{ 
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: small;
  }
  /* card hover */ 
  .card:hover{ 
    background: #c8e5e8;  
    transition: 0s;
  }
  .card:hover .second {
    opacity: 1;
    transition: opacity 0.8s;
}

.card:hover .first {
    opacity: 0;
}
@media screen and (max-width: 500px) {
  body {
      height: auto;
  }
  p {
      font-size: 90%;
  }
}

@media screen and (max-height: 500px) {
body {
  height: auto;
}
}

/* btn hovers */ 
.btn-primary { 
  align-items: center;
}
a.a1{
  display: block;
  font-size: 14px;
  font: open-sans-ragular;
  font-weight: 900;
  text-decoration: none;
  color: #333;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px;
  letter-spacing: 2px;
  transition: all 1s;
  background-color: #c8e5e8;
}

a.a1:hover{
  letter-spacing: 5px;
  background-color: white;
}

  /*card hover end*/ 
  .card-title {
    font-weight: 900;
  }
  .buttona {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 1rem;
    padding-inline: 1.5rem;
    background-color: #c8e5e8;
    border-radius: 9999px;
    cursor: pointer;
    color: #000000;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #85c1ca3d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .buttona:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .buttona:hover .icon {
    transform: translate(4px);
  }
  
  .buttona:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .buttona::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  
  /* footer code */

  .footer-distributed{
    background-color: #c8e5e8;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
  
    padding: 55px 50px;
    margin-top: 80px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  #5383d3;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
  }
  
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }
  .lineUp {
    animation: 7s anim-lineUp ease-out 1;
    font-size: calc(1.2rem + 1vw);
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .sizef {
    font-size: calc(0.6rem + 0.6vw);
  }
  .parallax-text {
    position: relative;
    top: 50%;
    letter-spacing: 10px;
    opacity: 0.8;
    white-space: nowrap;
  }
  /* carousel */ 
  .carousel-item{ 
    height: 40%;
    width: 40%; 
  }

  /* product page */ 
  h3 { 
    padding: 15px; 
    text-align: center;
  }
  .col-6{ 
    margin: auto; 
    width: 50%; 
  }
  .card-price {
    text-align: center;
    font-weight: 900;
  }
  h3.description { 
    font-family: "Open Sans", sans-serif;
    font-weight: 990;
  }
  .product-title h1 { 
    font-family: "Open Sans", sans-serif;
    font-weight: 990;
    text-align: center; 
    padding-top: 20px;
  }